@page "/chatGroup"
@page "/chatGroup/{userName}"

@using Services.Interfaces;
@using Models;
@using Pages;

@inject IMessagesService messageService;

<div>
    <div class="card">
        <div class="card-body">
            @for(int x = 0; x < messages.Count; x++)
            {
                <MessageBlock userMessage="@messages[x]" />
            }
        </div>
    </div>
    <div>
        <input id="messageBox" @bind-value="@message" /><button @onclick="@SendMessage">Send</button>
    </div>
</div>


@code {
    [Parameter]
    public string userName { get; set; } = "User";

    private List<UserMessage> messages { get; set; } = new List<UserMessage>();

    private string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        messages = messageService.GetMessages();
    }

    private void SendMessage()
    {
        var usermessage = new UserMessage()
        {
            Message = message,
            TimeStamp = DateTime.Now,
            UserName = userName
        };

        if(messageService.SentMessage(usermessage))
        {
            messages.Add(usermessage);
        }

    }
}
