@page "/chatGroup"
@page "/chatGroup/{userName}"

@using Services.Interfaces;
@using Models;
@using Pages;

@inject IMessagesService messageService;

<div>
    <div class="card">
        <div class="card-body">
            @for(int x = 0; x < messages.Count; x++)
            {
                <MessageBlock userMessage="@messages[x]" />
            }
        </div>
    </div>
    <div>
        <input /><button>Send</button>
    </div>
</div>


@code {
    [Parameter]
    public string userName { get; set; } = "User";

    private List<UserMessage> messages { get; set; } = new List<UserMessage>();

    protected override async Task OnInitializedAsync()
    {
        messages = messageService.GetMessages().OrderByDescending(or => or.TimeStamp).ToList();
    }
}
