@page "/chatGroup"
@page "/chatGroup/{userName}"

@using Models;
@using Pages;

<div>
    <div class="card">
        <div class="card-body">
            @for (int x = 0; x < 10; x++)
            {
                <MessageBlock />
            }
        </div>
    </div>
    <div>
        <input /><button>Send</button>
    </div>
</div>


@code {
    [Parameter]
    public string userName { get; set; } = "User";
}
