@page "/"
@using ChatHub.Pages;
@using Models;
<h1>Hello, world!</h1>

Welcome to your new app.
<ChatHub.Pages.Login />
<MessageBlock userMessage="@userMessage" />
<ChatGroup/>

@code {
    public UserMessage userMessage = new UserMessage()
    {
        Message = "Hi",
        TimeStamp = DateTime.Now,
        Type = UserMessage.MessgageType.User,
        UserName = "Aj"
    };
}
